.header-logo a img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 20%;;
}

.fix-image img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 20%;;
}