.text-center i:hover{
    color:crimson;
    cursor: pointer;
}

nz-form-control{
    height: 50px;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;  
}